---
import Nav from '../components/Nav.astro'
import Card from '../components/Card.astro'
import Footer from '../components/Footer.astro'

const items = [
    {img: '/assets/partners/1.png', title: 'The Society of Petroleum Engineers',
        html: `
                <p>The Society of Petroleum Engineers (SPE) Общество инженеров-нефтяников  -некоммерческая организация миссия которой заключается в сборе, распространении и обмене техническими знаниями, касающимися разведки, разработки и добычи нефтяных и газовых ресурсов и связанных с ними технологий, и в предоставлении возможностей специалистам нефтяного машиностроения повысить свою техническую и профессиональную компетентность.</p>
    `},
    {img: '/assets/partners/2.png', title: 'JovE', html: `JovE – Первый в мире рецензируемый видеожурнал и образовательная видеоплатформа для ученых.`},
    {img: '/assets/partners/3.png', title: 'Clarivate Analytics', html: `<p> Clarivate Analytics – независимая американская компания, управляющая базами данных, информационными системами и коллекциями по интеллектуальной собственности. Компания ориентирована на проведение научных и академических исследований, патентный анализ и правовое регулирование, фармацевтические и биотехнологические исследования, охрану товарных знаков, защиту брендов и интеллектуальной собственности. Эко-Вектор является официальным представителем продукции Wiley в России и оператором национальной подписки.</p>`},
    {img: '/assets/partners/4.png', title: 'John Wiley & Sons', html: `<p>John Wiley & Sons  -  международное издательство, которое специализируется на выпуске академических изданий. John Wiley & Sons выпускает издания для профессионалов, студентов и преподавателей высшей школы, исследователей, учёных, медиков. Эко-Вектор является официальным представителем продукции Wiley в России и оператором национальной подписки.</p>`},
]
const items2 = [
    {img: '/assets/partners/5.png', title: 'АНРИ', html: `АНРИ  – Ассоциация научных редакторов и издателей основной целью которой является  содействие развитию редакционно-издательской деятельности в научной сфере, консолидация российского научного редакционно-издательского сообщества,
<br><br>
повышение качества научных изданий членов Ассоциации, развитие и укрепление профессиональных связей членов Ассоциации на международном уровне. `},
    {img: '/assets/partners/6.png', title: 'ENAGO', html: `ENAGO  – Сервис академического редактирования и научного перевода для исследователей, которые хотят публиковаться в международных журналах с высоким импакт-фактором. `},
    {img: '/assets/partners/7.png', title: 'WriteFull', html: `Пакет программных инструментов компании Thinqlab LTD разработанный для студентов и исследователей для уверенного написания академических текстов на английском языке`},
]

---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
</head>
<body>
    <Nav client:visible />
    <div class="xl:px-20">
        <Card 
            client:load 
            color={"eco-indigo"} 
            imgPath={"/assets/images/partners.svg"} 
            btnText={"Стать партнером"}
            heading={"Партнеры"} text={"Издательство ООО «Эко-Вектор» по данным на начало 2021 года выпускает около 100 научно-практических журналов по различным направлениям"} 
        />
    </div>

    <div class="container space-y-10">
        <h1 class="heading">Издательства и агрегаторы</h1>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-10 lg:gap-16">
            {items.map((i) => (
                <div>
                    <label for={i.title} class="cursor-pointer">
                        <div class="space-y-3">
                            <div class="p-7 shadow-brand flex items-center justify-center h-48 sm:h-auto sm:aspect-video">
                                <img class="w-1/2" src={i.img} alt="">
                            </div>
                            <h1 class="text-center subheading place-self-center justify-self-start">{i.title}</h1>
                        </div>
                    </label>

                    <input type="checkbox" id={i.title} class="modal-toggle"> 
                    <div class="modal">
                        <div class="w-full flex justify-center items-center">
                            <div class="bg-white rounded-xl sm:rounded p-5 lg:p-8 w-full md:w-10/12 lg:w-2/3 xl:w-7/12 sm:mx-5 overflow-scroll">
                                <div class="flex items-start justify-between border-b border-gray-300 pb-5">
                                    <a href="/">
                                        <img class="w-20 md:w-32" src={i.img} alt="">
                                    </a>
                                    <label class="cursor-pointer" for={i.title}>
                                        <img class="w-7 h-7" src="/assets/icons/x.svg" alt="close">
                                    </label>  
                                </div>
                                <div class="max-h-[60vh] md:max-h-[70vh] w-full overflow-scroll pt-5 modal-container">
                                    <div class="prose max-w-none prose-headings:mt-5 prose-p:my-0 prose-a:text-blue-600 prose-a:no-underline hover:prose-a:text-blue-500 hover:prose-a:underline">
                                        {i.html}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </div>
    <div class="container space-y-10">
        <h1 class="heading">Профессиональные ассоциации</h1>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-10 lg:gap-16">
            {items2.map((i) => (
                <div>
                    <label for={i.title} class="cursor-pointer">
                        <div class="space-y-3">
                            <div class="p-7 shadow-brand flex items-center justify-center h-48 sm:h-auto sm:aspect-video">
                                <img class="w-1/2" src={i.img} alt="">
                            </div>
                            <h1 class="text-center subheading place-self-center justify-self-start">{i.title}</h1>
                        </div>
                    </label>

                    <input type="checkbox" id={i.title} class="modal-toggle"> 
                    <div class="modal">
                        <div class="w-full flex justify-center items-center">
                            <div class="bg-white rounded-xl sm:rounded p-5 lg:p-8 w-full md:w-10/12 lg:w-2/3 xl:w-7/12 sm:mx-5 overflow-scroll">
                                <div class="flex items-start justify-between border-b border-gray-300 pb-5">
                                    <a href="/">
                                        <img class="w-20 md:w-32" src={i.img} alt="">
                                    </a>
                                    <label class="cursor-pointer" for={i.title}>
                                        <img class="w-7 h-7" src="/assets/icons/x.svg" alt="close">
                                    </label>  
                                </div>
                                <div class="max-h-[60vh] md:max-h-[70vh] w-full overflow-scroll pt-5 modal-container">
                                    <div class="prose max-w-none prose-headings:mt-5 prose-p:my-0 prose-a:text-blue-600 prose-a:no-underline hover:prose-a:text-blue-500 hover:prose-a:underline">
                                        {i.html}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </div>

    <div class="w-full bg-[#1B1B1D] text-white">
        <Footer client:visible />
    </div>
</body>
</html>