---
import Nav from '../components/Nav.astro'
import Card from '../components/Card.astro'
import Footer from '../components/Footer.astro'

const items = [
    {img: '/assets/resourses/1.png', title: 'Bentham Science',
        links: [
            { title: 'Bentham Science journal', html: `
                <p>Электронные журналы издательства <a href="/">Bentham Science Publishing</a> – это издания по актуальным вопросам медицины, фармакологии, нанотехнологии, биотехнологии, биоинформатики и химии. </p>
                <h2>Многие журналы имеют высокий импакт-фактор:</h2>
                <ul>
                    <li>Recent Patents On Anti-Cancer Research — 4.295;</li>
                    <li>Current Alzheimer Research — 3.889;</li>
                    <li>Current Medicinal Chemistry — 3.853;</li>
                    <li>Current Cancer Drug Targets — 3.522;</li>
                    <li>Current Molecular Medicine — 3.621;</li>
                    <li>Current Pharmaceutical Design — 3.452;</li>
                    <li>Current Topics in Medicinal Chemistry — 3.402;</li>
                    <li>Current Drug Targets — 3.021;</li>
                    <li>Current Drug Metabolism — 2.976;</li>
                    <li>Mini Reviews Medicinal Chemistry — 2.90.</li>
                </ul>
                <h2>Охват и материалы базы:</h2>
                <ul>
                    <li>140 рецензируемых журналов;</li>
                    <li>8 специальностей;</li>
                    <li>Электронные книги — 800;</li>
                    <li>Видео книги.</li>
                </ul>
                <h2>Полезные материалы:</h2>
                <ul>
                    <li><a href="/">Каталог журналов 2019</a></li>
                    <li><a href="/">Новые наименования</a></li>
                    <li><a href="/">Запрос бесплатных тестовых доступов к журналам</a></li>
                </ul>
            `}
        ],
        html: `
        <strong>Bentham Science - издания по актуальным вопросам медицины, фармакологии, нанотехнологии, биотехнологии, биоинформатики и химии;</strong>
        <p>Электронные журналы издательства <a href="/">Bentham Science Publishing</a> – это издания по актуальным вопросам медицины, фармакологии, нанотехнологии, биотехнологии, биоинформатики и химии. </p>
        <h2>Многие журналы имеют высокий импакт-фактор:</h2>
        <ul>
            <li>Recent Patents On Anti-Cancer Research — 4.295;</li>
            <li>Current Alzheimer Research — 3.889;</li>
            <li>Current Medicinal Chemistry — 3.853;</li>
            <li>Current Cancer Drug Targets — 3.522;</li>
            <li>Current Molecular Medicine — 3.621;</li>
            <li>Current Pharmaceutical Design — 3.452;</li>
            <li>Current Topics in Medicinal Chemistry — 3.402;</li>
            <li>Current Drug Targets — 3.021;</li>
            <li>Current Drug Metabolism — 2.976;</li>
            <li>Mini Reviews Medicinal Chemistry — 2.90.</li>
        </ul>
        <h2>Охват и материалы базы:</h2>
        <ul>
            <li>140 рецензируемых журналов;</li>
            <li>8 специальностей;</li>
            <li>Электронные книги — 800;</li>
            <li>Видео книги.</li>
        </ul>
        <h2>Полезные материалы:</h2>
        <ul>
            <li><a href="/">Каталог журналов 2019</a></li>
            <li><a href="/">Новые наименования</a></li>
            <li><a href="/">Запрос бесплатных тестовых доступов к журналам</a></li>
        </ul>
    `},
    {img: '/assets/resourses/2.png', title: 'Brill', links: [
        { title: 'Brill Journals', html: `` }
    ]},
    {img: '/assets/resourses/3.png', title: 'Elsevier', links: [
        { title: 'ClinikalKey', html: `` },
        { title: 'Embase', html: `` },
        { title: 'Mendeley', html: `` },
        { title: 'Reaxys', html: `` },
        { title: 'Scopus', html: `` },
        { title: 'ScienceDirect', html: `` },
    ]},
]
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
</head>
<body>
    <Nav client:visible />
    <div class="xl:px-20">
        <Card 
            client:load 
            color={"eco-yellow"} 
            imgPath={"/assets/images/resourses.svg"} 
            btnText={"Подробнее"}
            heading={"Электронные ресурсы "} text={"На этой странице Вы найдете краткое описание всех онлайн-ресурсов, которыми мы занимаемся."} 
        />
    </div>

    <div class="container space-y-16">
        {items.map((i) => (
            <div>
                <label for={i.title} class="cursor-pointer">
                    <div class="grid gap-5 grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                        <div class="p-7 shadow-brand flex items-center justify-center aspect-square">
                            <img class="w-2/3" src={i.img} alt="">
                        </div>
                        <h1 class="heading place-self-center justify-self-start">{i.title}</h1>
                    </div>

                    <div class="grid mt-5 gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                        {i.links.map((i) => (
                            <label for={i.title} class="cursor-pointer">
                                <p class="md:flex shadow-brand p-3 text-gray-600 text-lg hover:text-gray-900">{i.title}</p>
                            </label>
                            <input type="checkbox" id={i.title} class="modal-toggle">
                            <div class="modal">
                                <div class="w-full flex justify-center items-center">
                                    <div class="bg-white rounded-xl sm:rounded p-5 lg:p-8 w-full md:w-10/12 lg:w-2/3 xl:w-7/12 sm:mx-5 overflow-scroll">
                                        <div class="flex items-center justify-between border-b border-gray-300 pb-5">
                                            <h1 class="text-2xl font-semibold">{i.title}</h1>
                                            <label class="cursor-pointer" for={i.title}>
                                                <img class="w-7 h-7" src="/assets/icons/x.svg" alt="close">
                                            </label>  
                                        </div>
                                        <div class="max-h-[60vh] md:max-h-[70vh] w-full overflow-scroll pt-5">
                                            <div class="prose max-w-none prose-headings:mt-5 prose-p:my-0 prose-a:text-blue-600 prose-a:no-underline hover:prose-a:text-blue-500 hover:prose-a:underline">
                                                {i.html}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        ))}
                    </div>
                </label>
                <input type="checkbox" id={i.title} class="modal-toggle"> 
                <div class="modal">
                    <div class="w-full flex justify-center items-center">
                        <div class="bg-white rounded-xl sm:rounded p-5 lg:p-8 w-full md:w-10/12 lg:w-2/3 xl:w-7/12 sm:mx-5 overflow-scroll">
                            <div class="flex items-start justify-between border-b border-gray-300 pb-5">
                                <img class="w-20 md:w-32" src={i.img} alt="">
                                <label class="cursor-pointer" for={i.title}>
                                    <img class="w-7 h-7" src="/assets/icons/x.svg" alt="close">
                                </label>  
                            </div>
                            <div class="max-h-[60vh] md:max-h-[70vh] w-full overflow-scroll pt-5">
                                <div class="prose max-w-none prose-headings:mt-5 prose-p:my-0 prose-a:text-blue-600 prose-a:no-underline hover:prose-a:text-blue-500 hover:prose-a:underline">
                                    {i.html}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        ))}
    </div>

    <div class="w-full bg-[#1B1B1D] text-white">
        <Footer client:visible />
    </div>
</body>
</html>