---
import Nav from '../components/Nav.astro'
import Card from '../components/Card.astro'
import Footer from '../components/Footer.astro'

const journals = [
    { shown: false, link: "/book-releases", title: "Отрисовка авторских иллюстраций", text: " Издательство Эко-Вектор осуществляет все виду работ с изображениями — отрисовку авторских иллюстраций, цветокоррекцию, ретушь, компоновку, сканирование и реставрацию сканированных изображений, вплоть до создания изображений по заданию (описанию) автора. В процессе задействованы опытные художественные редакторы, верстальщики, дизайнеры и художники. Мы готовим иллюстрации с учетом требований WEB-среды и современных полиграфических технологий." },
    { shown: false, link: "/book-releases", title: "Форматирование формул и таблиц", text: "Мы используем специализированное ПО и технологии, позволяющие не только корректно отображать формулы и таблицы в произведениях на бумаге, но и индексировать их как код в электронной версии — позволяем произведениям стать доступными для поиска по формулам в поисковых системах и базах данных." },
    { shown: false, link: "/book-releases", title: "Присвоение ISSN И eISSN", text: ` Наличие у журнала ISSN, равно как и правильная информация о журнале в реестре ISSN — необходимый элемент успешного распространения издания не только в России, но и во всем мире.

Международный стандартный номер сериальных изданий (ISSN) присваивается периодическим изданиям в соответствии с Международным стандартом ISO 3297-2007, определяющим ISSN, как идентификатор сериальных и других продолжающихся публикаций. Российским периодическим изданиям номер ISSN присваивается только в Национальном центре ISSN Российской Федерации.

Мы можем помочь и проконсультировать Вас в вопросах получения ISSN и eISSN, помочь в подготовке документов для российской книжной палаты (на базе которой и функционирует национальный центр ISSN) о новом издании, появлении новых форм (например, электронной) старого издания или новых атрибутов издания (например, параллельного названия на английском языке). ` },
    { shown: false, link: "/book-releases", title: "Создание сайта", text: ` Сайт журнала — основной способ распространения опубликованной в издании информации среди читателей.

Мы создаем сайты для научных журналов на базе международной издательской платформы Open Journal Systems (PKP) с собственными доработками и технологиями IT платформа. Именно благодаря внедрению международного опыта и лучших IT-решений крупнейших издательств в работу наших журналов журналы становятся конкурентоспособными по отношению к признанными мировым изданиям в борьбе за аудиторию читателей и авторов.

Платформа Open Journal Systems с доработками Эко-Вектор позволит Вашему журналу соответствовать всем мировым стандартам и требованиям, и реализовать лучшие редакционные и издательские практики в работе коллектива журнала. ` },
    { shown: false, link: "/book-releases", title: "Настройка электронной редакции", text: ` Электронная редакция — система электронного документооборота между всеми участниками процесса подготовки издания к публикации, включая авторов, рецензентов, коллектив редакционной коллегии и редакции, сотрудников издательства и типографии.

Электронная редакция — часть редакционной-издательской системы Open Journal Systems, на базе которой мы создаем сайты для каждого из наших журналов.

Электронная редакция — наиболее современный и признанный во всем мире как стандарт способ управления научным периодическим изданием. Работа в электронной редакции позволяет коллективу журнала:

    <ul>
    <li>собирать от авторов рукописи в электронной форме вместе со всеми сопроводительными документам и дополнительными файлами, и узнавать о поступлении новых рукописей в журнал 24/7;</li>
    <li>проверять направленные в редакцию рукописи на наличие заимствованного текста через сервисы партнеров (антиплагиат, iThenticate);</li>
    <li>вести переписку с авторами по вопросам внесения изменений в рукопись по рекомендациям редакции и/или рецензентов;</li>
    <li>приглашать рецензентов и протоколировать процесс рецензирования рукописей, обеспечивать ослепление процедуры рецензирования и передачу информации о рецензировании в журналы в РИНЦ и/или Publons для признания вклада рецензентов в развитие издания;</li>
    <li>протоколировать принимаемые редакцией решения о возможности публикации рассматриваемых рукописей и обновление их версий после доработок;</li>
    <li>информировать авторов о состоянии процесса рассмотрения рукописей и их подготовки к публикации;</li>
    <li>обеспечивать авторам и редакторам доступ к истории рассмотрения рукописей, истории переписки, истории версий рукописи и финальным опубликованным файлам через личный кабинет;</li>
    <li>включать в коллектив редакции и издательства сотрудников из любой точки мира, и обеспечивать эффективную коммуникацию между участниками процесса подготовки издания (в том числе — говорящими на разных языках);</li>
    <li>управлять процессом предпечатной подготовки принятых к публикации статей (редактирование, форматирование, перевод, верстка, корректура, вычитка, сбор выпуска, публикация online, направление в типографию и т.д.);</li>
    <li>публиковать статьи на сайте издания задолго до выхода печатной версии, полноценно индексировать статьи в разделе “Published Ahead-of-Print” во всех базах;</li>
    <li>создавать, поддерживать и использовать базу пользователей сайта журнала, в том числе информировать аудиторию пользователей сайта о выходе очередных номеров издания, важных событиях в журнале и т.д.</li>
    </ul>
` },
]

const books = [
    { shown: false, link: "/book-releases", title: "Редактирование", text: `В издательстве Эко-Вектор проводится как литературное, так и научное редактирование текстов произведений авторов. В наш коллектив литературных редакторов входят профессионалы с большим стажем работы с научными текстами по разным направлениям, в том числе по медицине. Мы придерживаемся строгих издательских стандартов подготовки научных текстов, основанных как на ГОСТах, так и на международных требованиях, а в своей работе используем наиболее авторитетные источники данных.` },
    { shown: false, link: "/book-releases", title: "Верстка и дизайн", text: ` Дизайн и верстка – два неотъемлемых компонента при создании любого издания.

Коллектив художественных редакторов Эко-Вектор Дизайн создает идею и образ будущего издания, его стиль и индивидуальность, обеспечивая привлекательность для читателя. Верстка является продолжением дизайна, воплощением его результатов в жизнь в графическом виде. Наша верстка (с шрифтовыми выделениями, таблицами, формулами, иллюстрациями с подписью) сделает текст удобным для восприятия, стилистически грамотным.

Мы реализуем верстку не только для печати, но и для размещения издания в WEB-среде в сети Интернет или на электронных носителях. Издательство публикует и распространяет произведения не только среди читателей печатных изданий, но и в аудитории поклонников электронных форматов. Мы формируем издание во всех необходимых для распространения в сети Интернет форматах — HTML, ePUB, FB2, PDF. ` 
    },
    { shown: false, link: "/book-releases", title: "Отрисовка авторских иллюстраций", text: " Издательство Эко-Вектор осуществляет все виду работ с изображениями — отрисовку авторских иллюстраций, цветокоррекцию, ретушь, компоновку, сканирование и реставрацию сканированных изображений, вплоть до создания изображений по заданию (описанию) автора. В процессе задействованы опытные художественные редакторы, верстальщики, дизайнеры и художники. Мы готовим иллюстрации с учетом требований WEB-среды и современных полиграфических технологий." },
    { shown: false, link: "/book-releases", title: "Настройка электронной редакции", text: ` Электронная редакция — система электронного документооборота между всеми участниками процесса подготовки издания к публикации, включая авторов, рецензентов, коллектив редакционной коллегии и редакции, сотрудников издательства и типографии.

<p>Электронная редакция — часть редакционной-издательской системы Open Journal Systems, на базе которой мы создаем сайты для каждого из наших журналов.</p>

<p>Электронная редакция — наиболее современный и признанный во всем мире как стандарт способ управления научным периодическим изданием. Работа в электронной редакции позволяет коллективу журнала:</p>

    <ul>
    <li>собирать от авторов рукописи в электронной форме вместе со всеми сопроводительными документам и дополнительными файлами, и узнавать о поступлении новых рукописей в журнал 24/7;</li>
    <li>проверять направленные в редакцию рукописи на наличие заимствованного текста через сервисы партнеров (антиплагиат, iThenticate);</li>
    <li>вести переписку с авторами по вопросам внесения изменений в рукопись по рекомендациям редакции и/или рецензентов;</li>
    <li>приглашать рецензентов и протоколировать процесс рецензирования рукописей, обеспечивать ослепление процедуры рецензирования и передачу информации о рецензировании в журналы в РИНЦ и/или Publons для признания вклада рецензентов в развитие издания;</li>
    <li>протоколировать принимаемые редакцией решения о возможности публикации рассматриваемых рукописей и обновление их версий после доработок;</li>
    <li>информировать авторов о состоянии процесса рассмотрения рукописей и их подготовки к публикации;</li>
    <li>обеспечивать авторам и редакторам доступ к истории рассмотрения рукописей, истории переписки, истории версий рукописи и финальным опубликованным файлам через личный кабинет;</li>
    <li>включать в коллектив редакции и издательства сотрудников из любой точки мира, и обеспечивать эффективную коммуникацию между участниками процесса подготовки издания (в том числе — говорящими на разных языках);</li>
    <li>управлять процессом предпечатной подготовки принятых к публикации статей (редактирование, форматирование, перевод, верстка, корректура, вычитка, сбор выпуска, публикация online, направление в типографию и т.д.);</li>
    <li>публиковать статьи на сайте издания задолго до выхода печатной версии, полноценно индексировать статьи в разделе “Published Ahead-of-Print” во всех базах;</li>
    <li>создавать, поддерживать и использовать базу пользователей сайта журнала, в том числе информировать аудиторию пользователей сайта о выходе очередных номеров издания, важных событиях в журнале и т.д.</li>
    </ul>
` },
];
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
</head>
<body>
    <Nav client:visible />
    <div class="xl:px-20">
        <Card 
            client:load 
            color={"eco-red"} 
            imgPath={"/assets/images/services.svg"} 
            btnText={"Заказать"}
            heading={"Услуги"} text={"На этой странице Вы найдете краткое описание всех онлайн-ресурсов, которыми мы занимаемся. "} 
        />
    </div>

    <div class="container">
        <div>
            <h1 class="heading">Услуги</h1>

            <div class="border-b border-gray-300 py-3 space-x-5">
                <button id="books-btn" class="hover:text-black transition duration-200 text-black">Издание книг</button>
                <button id="journals-btn" class="text-gray-400 hover:text-black transition duration-200">Издание журналов</button>
            </div>

            <div id="books">
                <!-- MOBILE -->
                <div class="mt-5 space-y-5 lg:hidden">
                    {books.map((i) => (
                        <div class="collapse w-full rounded shadow-brand p-5">
                            <input type="checkbox">
                            <div class="collapse-title bg-white px-0 text-xl font-medium flex gap-3 justify-between services-center cursor-pointer">
                                <h1 class="text-black">{i.title}</h1>
                                <div>
                                    <img class="text-black w-5 h-5" src="/assets/icons/chevron-down.svg" alt="">
                                </div>
                            </div>
                            <div class="collapse-content px-0">
                                <div class="pt-1 border-t-2">
                                    <div class="mt-3 prose max-w-none prose-headings:mt-5 prose-p:my-0 prose-a:text-blue-600 prose-a:no-underline hover:prose-a:text-blue-500 hover:prose-a:underline">
                                        {i.text}
                                    </div>
                                    <a
                                        href={i.link}
                                        class="mt-3 btn btn-outline border-2 rounded border-eco-blue text-eco-blue hover:text-white hover:bg-eco-blue hover:border-eco-blue xl:btn-lg"
                                        >Заказать</a
                                    >
                                </div>
                            </div>
                        </div>
                    ))}
                </div>

                <div class="hidden lg:grid grid-cols-4 gap-10 mt-5">
                        <div class="col-span-1 space-y-2">
                            {books.map((i) => (
                                <h1 class="book-btn text-lg leading-6 opacity-60 hover:opacity-100 cursor-pointer transition">
                                    {i.title}
                                </h1>
                            ))}
                        </div>
                        <div class="col-span-3 place-self-start sticky top-32 rounded shadow-brand p-10 min-h-32">
                            {books.map((i) => (
                                <div
                                    class="w-full book hidden"
                                >
                                    <h1 class="text-xl font-medium">{i.title}</h1>
                                    <div class="mt-3 prose max-w-none prose-headings:mt-5 prose-p:my-0 prose-a:text-blue-600 prose-a:no-underline hover:prose-a:text-blue-500 hover:prose-a:underline">
                                        {i.text}
                                    </div>
                                    <a
                                        href={i.link}
                                        class="btn btn-outline mt-4 border-2 rounded border-eco-blue text-eco-blue hover:text-white hover:bg-eco-blue hover:border-eco-blue">Заказать</a>
                                </div>
                            ))}          
                        </div>
                </div>
            </div>

            <div id="journals" class="hidden">
                <!-- MOBILE -->
                <div class="mt-5 space-y-5 lg:hidden">
                    {journals.map((i) => (
                        <div class="collapse w-full rounded shadow-brand p-5">
                            <input type="checkbox">
                            <div class="collapse-title bg-white px-0 text-xl font-medium flex gap-3 justify-between services-center cursor-pointer">
                                <h1 class="text-black">{i.title}</h1>
                                <div>
                                    <img class="text-black w-5 h-5" src="/assets/icons/chevron-down.svg" alt="">
                                </div>
                            </div>
                            <div class="collapse-content px-0">
                                <div class="pt-1 border-t-2">
                                    <div class="mt-3 prose max-w-none prose-headings:mt-5 prose-p:my-0 prose-a:text-blue-600 prose-a:no-underline hover:prose-a:text-blue-500 hover:prose-a:underline">
                                        {i.text}
                                    </div>
                                    <a
                                        href={i.link}
                                        class="mt-3 btn btn-outline border-2 rounded border-eco-blue text-eco-blue hover:text-white hover:bg-eco-blue hover:border-eco-blue xl:btn-lg"
                                        >Заказать</a
                                    >
                                </div>
                            </div>
                        </div>
                    ))}
                </div>

                <div class="hidden lg:grid grid-cols-4 gap-10 mt-5">
                        <div class="col-span-1 space-y-2">
                            {journals.map((i) => (
                                <h1 class="journal-btn text-lg leading-6 opacity-60 hover:opacity-100 cursor-pointer transition">
                                    {i.title}
                                </h1>
                            ))}
                        </div>
                        <div class="col-span-3 place-self-start sticky top-32 rounded shadow-brand p-10 min-h-32">
                            {journals.map((i) => (
                                <div
                                    class="w-full journal hidden"
                                >
                                    <h1 class="text-xl font-medium">{i.title}</h1>
                                    <div class="mt-3 prose max-w-none prose-headings:mt-5 prose-p:my-0 prose-a:text-blue-600 prose-a:no-underline hover:prose-a:text-blue-500 hover:prose-a:underline">
                                        {i.text}
                                    </div>
                                    <a
                                        href={i.link}
                                        class="btn btn-outline mt-4 border-2 rounded border-eco-blue text-eco-blue hover:text-white hover:bg-eco-blue hover:border-eco-blue">Заказать</a>
                                </div>
                            ))}          
                        </div>
                </div>
            </div>
        </div>

        <script src={Astro.resolve('../functions/services.js')} defer hoist></script>
    </div>

    <div class="w-full bg-[#1B1B1D] text-white">
        <Footer client:visible />
    </div>
</body>
</html>