---
import Nav from '../../components/Nav.astro'
import Footer from '../../components/Footer.astro'

const news = [
    { img: 'https://picsum.photos/id/506/500/700', title: 'Биологи обнаружили новое месторождение полезных бактерий', text: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words', date: '1 ноября 2020', link: '/news/1' },
    { img: 'https://picsum.photos/id/507/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', text: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words', date: '1 ноября 2020', link: '/news/2' },
    { img: 'https://picsum.photos/id/508/500/400', title: 'Биологи обнаружили новое месторождение полезных бактерий', text: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words', date: '1 ноября 2020', link: '/news/3' },
    { img: 'https://picsum.photos/id/509/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', text: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/510/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', text: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/511/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', text: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/512/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', text: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/513/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', text: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/514/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', text: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/515/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', text: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/516/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', text: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/517/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', text: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words', date: '1 ноября 2020', link: '/news/4' },
]
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../../styles/global.css')}>
</head>
<body>
    <Nav client:visible />

    <div class="container">
        <h1 class="heading xl:text-4xl">Новости издательства</h1>
        <div class="grid gap-10 md:gap-16 mt-5 lg:mt-10">
            {news.map((e) => (
                <div>
                    <a class="space-y-2 md:flex md:space-y-0 gap-10" href={e.link}>
                        <img class="w-full lg:w-2/3 aspect-video object-cover" src={e.img} alt="">
                        <div class="flex flex-col justify-between">
                            <div>
                                <h2 class="font-bold mb-2 sm:text-lg md:text-xl">{e.title}</h2>
                                <p class="sm:text-lg">{e.text}</p>
                            </div>
                            <p class="text-slate-400 text-sm mt-2">{e.date}</p>
                        </div>
                    </a>
                </div>
            ))}
        </div>
    </div>

    <div class="w-full bg-[#1B1B1D] text-white">
        <Footer client:visible />
    </div>
</body>
</html>