---
const {color, imgPath, btnText, heading, text} = Astro.props
---

<div class=`bg-${color} w-full text-white flex flex-col items-center py-5 px-5 sm:flex-row max-w-screen-xl mx-auto xl:pl-24 xl:pr-10 sm:justify-between xl:rounded-b`>
    <div class="flex flex-col space-y-4 lg:space-y-5 sm:w-1/2">
        <span class="text-3xl font-semibold lg:text-5xl">
            <div name="heading">{heading}</div>
        </span>
        <span class="font-extralight lg:text-xl lg:font-light lg:leading-relaxed">
            <div name="text">{text}</div>
        </span>
        <div class="flex items-center mt-5">
            <a href="/book-releases" class=`btn btn-outline text-white hover:bg-white hover:text-${color} border-white border-2 hover:border-white rounded`>{btnText}</a>
        </div>
    </div>
    <img src={imgPath} alt="icon" class="hidden sm:inline-block w-48 md:w-60 lg:w-96">
</div>

<div class="hidden bg-eco-purple"></div>
<div class="hidden bg-eco-yellow"></div>
<div class="hidden bg-eco-green"></div>
<div class="hidden bg-eco-gray"></div>
<div class="hidden hover:text-eco-green"></div>
<div class="hidden hover:text-eco-gray"></div>
<div class="hidden hover:text-eco-purple"></div>