---
    const items = [
        { color: "eco-purple", name: "Издание книг", link: "/book-releases" },
        { color: "eco-green", name: "Издание журналов", link: "/journal-releases" },
        { color: "eco-gray", name: "IT-платформа", link: "/it-platform" },
        { color: "black", name: "Академия", link: "/academy" },
        { color: "eco-yellow", name: "Электронные ресурсы", link: "/resourses" },
        { color: "eco-red", name: "Услуги", link: "/services" },
        { color: "eco-purple", name: "Партнеры", link: "#" },
        // { color: "eco-blue", name: "Контакты", link: "#" },
    ];
---


<div class="shadow-lg bg-white sticky top-0 w-full lg:px-5 xl:px-24 z-20">
    <div
        class="w-full flex justify-between items-center px-5 py-5 lg:px-0 lg:py-8 max-w-screen-xl mx-auto"
    >
        <a href="/#">
            <img class="w-20 lg:w-24" src="/assets/logo.png" alt="" />
        </a>
        <div class="hidden lg:flex lg:space-x-5 xl:space-x-6 text-sm whitespace-nowrap">
            {items.map((i) => (
                <a class=`after:bg-${i.color} text-slate-600 hover:text-black` href={i.link}>
                    {i.name}
                </a>
            ))}
            <a class=`after:bg-eco-blue text-slate-600 hover:text-black active` href="/">
                Контакты
            </a>
        </div>
        <div class="flex items-center gap-x-10">
        <div class="dropdown dropdown-end md:dropdown-hover ml-5 ">
            <div tabindex="0" class="flex space-x-3 items-center cursor-pointer">
                <img class="w-5 h-5 rounded-full" src="/assets/flags/ru.png" alt="">
                <p>RU</p>
                <img class="w-5 h-5" src="/assets/icons/chevron-down.svg" alt="">
            </div> 
            <ul tabindex="0" class="p-2 shadow-brand menu dropdown-content bg-base-100 rounded-md w-44">
                <li>
                    <a href="/">
                        <div class="flex space-x-4 items-center">
                            <img class="w-5 h-5"src="/assets/flags/en.png" alt="">
                            <p>EN</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <div class="flex space-x-4 items-center">
                            <img class="w-5 h-5"src="/assets/flags/zh.png" alt="">
                            <p>ZH</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <div class="flex space-x-4 items-center">
                            <img class="w-5 h-5"src="/assets/flags/es.png" alt="">
                            <p>ES</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="burg" class="lg:hidden drawer">
            <svg
                class="h-8 w-8 cursor-pointer"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                />
            </svg>
        </div>
        </div>
        
    </div>


    <div
        id="nav-links"
        class="hidden flex lg:hidden absolute bg-white flex-col space-y-3 py-5 px-5 w-full shadow-lg"
    >
        {items.map((i) => (
            <a class="text-lg" href={i.link}>{i.name}</a>
        ))}
    </div>
</div>

<script src={Astro.resolve('../functions/linksToggle.js')} defer hoist></script>

<style>
    a {
        display: block;
        position: relative;
        padding: 0.2em 0;
    }
    /* Fade in */
    a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        /* background-color: hotpink; */
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }

    a:hover::after,
    a:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
    }
    .active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        /* background-color: hotpink; */
        opacity: 1;
        transition: opacity 300ms, transform 300ms;
    }
</style>
